// Copyright 2015 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only

@use 'mixins';
@use 'variables';

html {
  height: 100%;
  cursor: inherit;
  // Legacy style from sanitize.css:
  overflow-wrap: break-word;
}

.light-theme {
  color-scheme: light;
}

.dark-theme {
  color-scheme: dark;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;

  color: variables.$color-gray-90;

  @include mixins.font-family;
  @include mixins.font-body-1;

  &.light-theme {
    background-color: variables.$color-white;
    color: variables.$color-gray-90;
  }
  &.dark-theme {
    background-color: variables.$color-gray-95;
    color: variables.$color-gray-05;
  }

  &.is-resizing-left-pane {
    cursor: col-resize;
  }
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
}

[contenteditable]:not([contenteditable='false']) {
  /* stylelint-disable-next-line property-no-deprecated */
  -webkit-user-modify: read-write-plaintext-only;
}

// This is a bugfix for browsers that implement dir="auto" wrong.
//
// Spec: https://html.spec.whatwg.org/multipage/dom.html#the-dir-attribute
// > 2. If result is null, then return the parent directionality of element.
//
// Chrome is defaulting to ltr all the time, which breaks cursors on empty
// inputs, textareas, and contenteditable elements.
[dir='auto'] {
  &:is(
    input[value=""],
    input:not([value]),
    :not(input):empty,
    /* Fix for https://developer.mozilla.org/en-US/docs/Web/CSS/:empty#browser_compatibility */
    :has(> br:only-child)
  ) {
    :dir(ltr) > & {
      /* stylelint-disable-next-line declaration-property-value-disallowed-list */
      direction: ltr;
    }
    :dir(rtl) > & {
      /* stylelint-disable-next-line declaration-property-value-disallowed-list */
      direction: rtl;
    }
  }
}

audio {
  max-width: 100%;
}

.dark-overlay {
  position: absolute;
  top: 0;
  inset-inline: 0;
  bottom: 0;

  opacity: 0.25;
  z-index: variables.$z-index-popup-overlay;

  @include mixins.light-theme {
    background-color: variables.$color-black;
  }

  @include mixins.dark-theme {
    background-color: variables.$color-gray-95;
  }
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}
.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

button {
  -webkit-app-region: no-drag;
}
button:not(:disabled, [aria-disabled='true']) {
  cursor: pointer;
}

@layer base {
  a {
    @include mixins.light-theme {
      color: variables.$color-ultramarine;
    }

    @include mixins.dark-theme {
      color: variables.$color-gray-05;
    }
  }
}

@keyframes loading {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.app-migration-screen {
  display: flex;
  flex-direction: column;
}

.app-loading-screen {
  z-index: variables.$z-index-on-top-of-everything;
  position: absolute;
  inset-inline: 0;
  top: 0;
  bottom: 0;
  padding-block: 0;
  padding-inline: 16px;

  /* Note: background-color is intentionally transparent until body has the
   *       theme class.
   */
  @include mixins.explicit-light-theme {
    background-color: variables.$color-white;
    color: variables.$color-black-alpha-80;
  }

  @include mixins.dark-theme {
    background-color: variables.$color-gray-95;
    color: variables.$color-white-alpha-80;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  .dot-container {
    display: flex;
    gap: 7px;
    margin-block: 6px 22px;
    margin-inline: 0;

    .dot {
      width: 14px;
      height: 14px;
      border: 3px solid;
      border-radius: 50%;
      float: inline-start;
      margin-block: 0;
      margin-inline: 6px;
      transform: scale(0);

      @include mixins.light-theme {
        border-color: variables.$color-black;
      }

      @include mixins.dark-theme {
        border-color: variables.$color-white;
      }

      & {
        animation: loading 1500ms ease infinite 0ms;
      }
      &:nth-child(2) {
        animation: loading 1500ms ease infinite 333ms;
      }
      &:nth-child(3) {
        animation: loading 1500ms ease infinite 666ms;
      }
    }
  }

  &__progress {
    &--container {
      animation: fade-in 150ms ease 1 0ms;
      border-radius: 2px;
      height: 4px;
      max-width: 400px;
      overflow: hidden;
      width: 100%;
      margin-block: 12px 26px;
      margin-inline: 0;

      @include mixins.light-theme {
        background: variables.$color-black-alpha-20;
      }

      @include mixins.dark-theme {
        background: variables.$color-white-alpha-20;
      }
    }

    &--bar {
      border-radius: 2px;
      display: block;
      height: 100%;
      width: 100%;
      &:dir(ltr) {
        // stylelint-disable-next-line declaration-property-value-disallowed-list
        transform: translateX(-100%);
      }
      &:dir(rtl) {
        // stylelint-disable-next-line declaration-property-value-disallowed-list
        transform: translateX(100%);
      }
      transition: transform 500ms linear;

      @include mixins.light-theme {
        background: variables.$color-black;
      }

      @include mixins.dark-theme {
        background: variables.$color-white;
      }
    }
  }
  .message {
    animation: fade-in 150ms ease 1 0ms;
    max-width: 35em;
  }
  .message-placeholder {
    height: 20px;
  }
}

//yellow border fix
.inbox:focus {
  outline: none;
}

.inbox {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}
