/**
 * Copyright 2026 Signal Messenger, LLC
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@property --axo-select-trigger-mask-start {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
}
