/**
 * Copyright 2026 Signal Messenger, LLC
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@theme {
  --default-scrollbar-width: thin;
  --default-scrollbar-track: transparent;
  --default-scrollbar-thumb: var(--axo-color-label-placeholder);
}
